<section class="courses">
  <div class="courses__container">
    <h2 class="title courses__title">Наши курсы</h2>
    <div class="courses__desc">Если куплен один пакет, на любой другой скидка 20%</div>
    <div class="courses__block">
      <img src="img/courses/monitor.svg" alt="" class="courses-block__img">
      <div class="courses-block__content">
        <div class="courses-block__free">Бесплатный вебинар</div>
        <div class="courses-block__desc">20 способов вырастить счастливого ребёнка</div>
      </div>
    </div>
    <div class="courses__grid swiper">
      <div class="courses__wrapper swiper-wrapper">
        <div class="course swiper-slide">
          <div class="course__col">
            <img src="@img/courses/i-1.svg" alt="" class="course__img">
            <h3 class="course__title course__title--big">Для мам и пап</h3>
            <div class="course__desc">Чего ждать от родительства, всё о материнстве, беременности и родах, отношениях в
              паре с появлением малыша</div>
          </div>
          <div class="course__col">
            <div class="course__price">3 990 руб.</div>
            <a href="#" class="btn btn--transapent course__btn"><span>Подробнее</span> <svg width="24" height="24"
                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 6L8.59 7.41L13.17 12L8.59 16.59L10 18L16 12L10 6Z" fill="#333333" />
              </svg>
            </a>
          </div>
        </div>
        <div class="course swiper-slide">
          <div class="course__col">
            <img src="@img/courses/i-2.svg" alt="" class="course__img">
            <h3 class="course__title">0 - 1 год</h3>
            <div class="course__desc">Как ухаживать за младенцем, какие у него особенности развития в этом возрасте, как
              правильно себя вести</div>
          </div>
          <div class="course__col">
            <div class="course__price">3 990 руб.</div>
            <a href="#" class="btn btn--transapent course__btn"><span>Подробнее</span> <svg width="24" height="24"
                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 6L8.59 7.41L13.17 12L8.59 16.59L10 18L16 12L10 6Z" fill="#333333" />
              </svg>
            </a>
          </div>
        </div>
        <div class="course swiper-slide">
          <div class="course__col">
            <img src="@img/courses/i-3.svg" alt="" class="course__img">
            <h3 class="course__title">1 - 3 года</h3>
            <div class="course__desc">Как ухаживать за ребёнком данного возраста, как его правильно развивать и
              воспитывать</div>
          </div>
          <div class="course__col">
            <div class="course__price">2 990 руб.</div>
            <a href="#" class="btn btn--transapent course__btn"><span>Подробнее</span> <svg width="24" height="24"
                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 6L8.59 7.41L13.17 12L8.59 16.59L10 18L16 12L10 6Z" fill="#333333" />
              </svg>
            </a>
          </div>
        </div>
        <div class="course swiper-slide">
          <div class="course__col">
            <img src="@img/courses/i-4.svg" alt="" class="course__img">
            <h3 class="course__title">3 - 7 лет</h3>
            <div class="course__desc">Особенности психологического развития детей данного возраста, как помогать им
              развиваться, как готовиться к школе, с
              какой стороны подходить в воспитании </div>
          </div>
          <div class="course__col">
            <div class="course__price">2 990 руб.</div>
            <a href="#" class="btn btn--transapent course__btn"><span>Подробнее</span> <svg width="24" height="24"
                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 6L8.59 7.41L13.17 12L8.59 16.59L10 18L16 12L10 6Z" fill="#333333" />
              </svg>
            </a>
          </div>
        </div>
        <div class="course swiper-slide">
          <div class="course__col">
            <img src="@img/courses/i-5.svg" alt="" class="course__img">
            <h3 class="course__title">7 - 12 лет</h3>
            <div class="course__desc">Как помогать детям учиться, на что обращать внимание с точки зрения детской
              психологии, советы по воспитанию</div>
          </div>
          <div class="course__col">
            <div class="course__price">1 990 руб.</div>
            <a href="#" class="btn btn--transapent course__btn"><span>Подробнее</span> <svg width="24" height="24"
                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 6L8.59 7.41L13.17 12L8.59 16.59L10 18L16 12L10 6Z" fill="#333333" />
              </svg>
            </a>
          </div>
        </div>
        <div class="course swiper-slide">
          <div class="course__col">
            <img src="@img/courses/i-6.svg" alt="" class="course__img">
            <h3 class="course__title">12 -18 лет</h3>
            <div class="course__desc">Как справляться с проблемами подросткового возраста, что нужно знать о
              формировании
              психики в этом возрасте, как обьединить роли авторитетного родителя и лучшего друга для ребёнка</div>
          </div>
          <div class="course__col">
            <div class="course__price">1 990 руб.</div>
            <a href="#" class="btn btn--transapent course__btn"><span>Подробнее</span> <svg width="24" height="24"
                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 6L8.59 7.41L13.17 12L8.59 16.59L10 18L16 12L10 6Z" fill="#333333" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="courses__pagination"></div>
  </div>
</section>